<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="com.burrow.listeners.ITestListenerClass" />
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="com.burrow.testcases.CrossBrowserTest">
				<methods>
					<include name="verifyMemorialDaySale" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	<!-- <test name="Recomended Resources">
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="com.burrow.testcases.CrossBrowserTest">
				<methods>
					<include name="verifySeating" />
				</methods>
			</class>
		</classes>
	</test> --> <!-- Test -->
</suite> <!-- Suite -->
